*{
  margin: 0;
  padding: 0;
}
.primary-color{
  color: #4E47FF;

}
button{
  background-color: #4E47FF;
  color: white;
  border: none;
  font-size: 16px;
  padding: 12px 36px;
  border-radius: 5px;
}

.header{
  background-image: url('assets/Hero-bg.png');
  background-repeat: no-repeat;
}

/* nav styles  */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 150px;
}
nav h3{
  color: #4E47FF;
  font-size: 36px;
}
.banner-content{
  text-align: center;
  font-size: 65px;
  padding: 110px 100px;
}

/* preview section styles  */
.preview{
  margin: 116px 145px;
  display: flex;
  gap: 100px;
  align-items: center;
}
.preview-content h3{
  font-weight: 700;
  font-size: 32px;
}
.preview-content p{
  font-weight: 100;
  font-size: 14px;
  margin: 23px 0;
}


.preview-image img{
  width: 400px;
  height: 328px;
  border-radius: 40px;

}