* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f8ff;
}

.primary-color {
  color: #4E47FF;
}

button {
  background-color: #4E47FF;
  color: white;
  border: none;
  font-size: 16px;
  padding: 12px 36px;
  border-radius: 5px;
}

button:hover {
  background-color: #313e29;
}

.header {
  background-image: url('assets/Hero-bg.png');
  background-repeat: no-repeat;
}

/* nav styles  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 150px;
}

nav h3 {
  color: #4E47FF;
  font-size: 36px;
}

.banner-content {
  text-align: center;
  font-size: 65px;
  padding: 110px 100px;
}

/* preview section styles  */
.preview {
  margin: 116px 145px;
  display: flex;
  gap: 100px;
  align-items: center;
}

.preview-content h3 {
  font-weight: 700;
  font-size: 32px;
}

.preview-content p {
  font-weight: 100;
  font-size: 14px;
  margin: 23px 0;
}

.preview-image img {
  width: 400px;
  height: 328px;
  border-radius: 40px;
}

/* joined styles  */
.joined {
  background-color: rgba(71, 79, 255, 0.1);
  text-align: center;
  padding: 50px 142px;
  margin: 0 140px;
  border-radius: 10px;
}

.joined h3 {
  font-size: 32px;
  font-weight: 700;
}

.activ-uers-section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.activ-uers-section h4 {
  font-weight: 700;
  font-size: 70px;
  color: #4E47FF;
}

/* reviewer section styles  */
.reviewer {
  margin: 132px 140px;
}

.reviewer h3 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 50px;
}

.reviewer-section {
  display: flex;
  gap: 20px;
}

.reviewer-area {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 14px;
  padding: 25px;
}

.reviewer-area h4 {
  font-size: 17px;
  margin: 24px 0 8px 0;
}

.reviewer-area p {
  font-size: 13px;
  margin-bottom: 24px;
}

.reviewer-person {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer-person img {
  border-radius: 50%;
}

.reviewer-person-name {
  padding-top: 20px;
}

.reviewer-person-name h6 {
  font-weight: unset;
}

/* ready-focus styles */
.ready-focus {
  padding-top: 60px;
  margin: 0 150px;
  background-color: white;
  text-align: center;
  border-radius: 14px;
}

.ready-focus h3 {
  font-size: 40px;
}

.ready-focus p {
  margin: 15px 0;
}

.ready-focus img {
  border-radius: 40px;
  width: 650px;
  margin: 20px 0 60px 0;
}

/* contact section styles  */
.contact {
  display: flex;
  align-items: center;
  gap: 70px;
  margin: 50px 150px;
}

.contact-title h3 {
  font-size: 60px;
}

.contact-form label {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  width: 100%;
  border-radius: 10px;
  padding: 16px 32px;
  border: none;
}

.contact-form input[type="submit"] {
  width: 100%;
  cursor: pointer;
  background-color: #4E47FF;
  color: white;
  border: none;
  font-size: 16px;
}

.contact-form input[type="submit"]:hover {
  background-color: #313e29;
}

/* footer section styles  */
.footer-section {
  text-align: center;
  padding: 104px 330px;
  background-color: white;
}

.footer-section h3{
  font-size: 60px;
  color: #4E47FF;
  margin-bottom: 8px;
}
.footer-section p{
  margin-bottom: 20px;
  color: #8987A1;
  font-size: 16px;
}

.footer-section ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer-section ul li {
  list-style: none;
}

.footer-section ul li a {
  text-decoration: none;
  color: #8987A1;
}